/*-- scss:defaults --*/
$h2-font-size:          1.4rem !default;
$h3-font-size:          1.2rem !default;
$h4-font-size:          1.0rem !default;
$headings-font-weight:  600 !default;

/*-- scss:rules --*/
h2, h3, h4 {
    color: $brand-dark-blue;
  }
